body {
	font-size: 14px;
	color: #fff;
	background-color: #171717
		/*#e3f2fd*/
	;
	letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #313131
		/*#bbdefb*/
	;
	font-size: 1.5rem;
	color: #fff;
}

.AboutMeTab,
.SkillsTab {
	overflow: hidden;
	border: 1px solid #313131;
	;
	padding-bottom: 0px;
	font-size: 1.5rem;
	margin: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	margin-bottom: 0px;
	color: #fff;
}

.AboutMeTab button,
.SkillsTab button {
	background-color: #171717;
	border-color: #171717;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	color: #fff;

}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #171717;
}

.AboutMeTab button:hover,
.SkillsTab button:hover {
	background-color: #313131;
}

/* Create an active/current tablink class */
.AboutMeTab button.active,
.SkillsTab button.active {
	background-color: #313131;
}

.tab button.active {
	background-color: #171717;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
	margin-top: 7%;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
}

.AboutMeTabContent,
.SkillsTabContent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #313131;
	margin-top: 0%;
	margin-bottom: 10%;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.SkillsTabContent .skill {
	margin: 3%;
	display: inline-block;

}

#Languages .skill p {
	color: #fff;
}


.slides-navigation .prev,
.slides-navigation .next {

	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url("../img/icons/back.png");
}

.slides-navigation a.next {
	right: 20px;
	background-image: url("../img/icons/next.png");
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	font-family: "Lucida Handwriting";
	text-align: center;
	margin-top: -125px;
}

#Welcome h1 {
	color: #fff;
}

#Network h1 {
	color: #fff;
}

#Contact h1 {
	color: #fff;
	margin-bottom: 10%;
}

#Contact h3 {
	color: #fff;
	margin-bottom: 10%;
}

#Network h3 {
	color: #fff;
	margin-bottom: 10%;
}

.networkImage {
	width: 25%;
}


.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgb(0 0 0 / 40%);
	font-weight: 100;
	letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 6;
	top: 46%;
	width: 100%;
}

.section {
	padding: 25px 0;
}

#about {
	font-family: 'Apple Chancery, cursive';
}

#about p {
	color: #fff;
	font-size: 25px;
}

#about h4 {
	color: #fff;
	font-size: 30px;
}

.aboutImage {
	padding: 5%;
	max-width: 70%;
	border-radius: 50%;
}

#skills h2 {
	margin-bottom: 50px;
	color: #fff;
}

.skillsSection {
	font-family: 'Apple Chancery, cursive';
	/*background-color: #faa549ff;*/
	color: #fff;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
	width: 152px;
	display: inline-block;
	text-align: center;
	border: #097969;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #fff;
	line-height: 152px;
	display: inline-block;
	font-size: 20px;
}

.contactSection {
	color: #fff;
}

#contact {
	font-family: 'Apple Chancery, cursive';
}

#contact h2 {
	color: #fff;
}


.contactButton {
	text-decoration: none;
	font-size: 2em;
	padding: 15px 20px;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	border-radius: 2px;
}

.contactButton:hover {
	color: #fff;
}

.filter a {

	color: #fff;

	border: 1px solid #bdc3c7;

	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.filter .current {
	background-color: #3498db;
	border-color: #3498db;
	color: #fff
}


.filter {
	text-align: center;
	width: 100%
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index: 3;
}

.items .icons i {
	color: #fff;
	font-size: 20px;
	margin-top: 9px;
}


.nav-item {
	font-family: "Lucida Handwriting";
	font-size: 20px;
}




.items .item:hover .imageOverlay {
	opacity: 1;
}


.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}


.items {
	padding: 0;
}

.copyrightSection {
	background-color: #313131;
	color: #fff;
	padding: 30px 5px;
	margin-bottom: 0px;
	position: fixed;
	bottom: 0;
	width: 100%
}


#navigation {
	background-color: #faa549ff;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}

#navigation li {
	padding: 0 10px;

}

#navigation li a {
	color: #fff;
}

.navbar-brand {
	color: #fff;
}


.pdf-link,
.pdf-link:hover {
	color: #fff;
	display: block;
	padding: .5rem 1rem;
	text-decoration: none;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}


.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loader.gif) center center no-repeat;
}

#network h2 {
	color: #fff;
	margin-bottom: 50px;
}


.networkSection p {
	color: #fff;
}

.networkSection img {
	margin: 5px 10px;
	width: 3em;
	height: 3em;
}

.AboutMeTabContent,
.SkillsTabContent {
	padding: 7%;
	background-color: #313131;
	border-color: #313131;
}


#Profile h4 {
	color: #fff;
	margin-bottom: 5%;
}

#AboutMe p,
#Skills p {
	color: #fff;
	font-size: 18px;
}

a {
	text-decoration: None;
}

a:hover {
	text-decoration: None;
}

#Experience .row {
	padding-bottom: 5%;
}

#SocialLife a {
	text-decoration: None;
	color: #fff;
}

#SocialLife a:hover {
	text-decoration: None;
	color: #fff;
}

#SocialLife .col {
	border: 1px solid #525252;
	padding: 5%;
}

#SocialLife {
	padding-bottom: 15%;
}